<app-info-box heading="Administration - Jobbtimmar"></app-info-box>
<div class="row justify-content-center">
    <div class="message-danger col-md-5">
        <p class="mb-0">I nuvarande version går det inte hämta timmar från en specifik månad. Datumet är hårdkodat till December 2018</p>
      </div>
</div>
<!-- Only show elements when employees has been fetched from server -->
<div *ngIf="employees">
  <!-- Creates a table for each employee -->
  <div *ngFor="let employee of employees">
    <div class="row">
      <h2>{{employee.name}}, ({{employee.username}})</h2>
      <table class="table">
        <thead class="table-head">
          <tr>
            <th>Arbetsuppgift</th>
            <th>Datum</th>
            <th>Tid</th>
            <th>Total tid (Timmar)</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loops through each shift as a table row -->
          <tr *ngFor="let shift of employee.shifts">
            <td>{{shift.taskName}}</td>
            <td>{{shift.startTime | date:'d MMMM, y'}}</td>
            <td>{{shift.startTime | date:'HH:mm'}} - {{shift.endTime | date:'HH:mm'}}</td> 
            <td>{{shift.shiftHours}}</td>         
          </tr>
        </tbody>
      </table>     
    </div>
    <div class="row justify-content-end">
        <p class="bold">Total tid: {{employee.totalHours}} timmar</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
    <button class="btn-primary" (click)="onClick()">Hämta jobbtimmar för alla anställda.</button> 
</div>
