<app-info-box heading="Sparad!" subtext="Arbetspasset är tillagt och sparat för {{date | date:'LLLL'}}"></app-info-box>
<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="btn-app btn-app-big">
            <a routerLink="/user/shift/assignment">Lägg till ny arbetsuppgift</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-app btn-app-big">
            <a routerLink="/user/shift/overview">Översikt för jobbtimmar</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-app btn-app-big">
            <a (click)="onLogout()">Logga ut</a>
        </div>
    </div>
</div>
