<div class="col-md-5 mx-auto">
  <h1 class="d-flex justify-content-center my-5">Tidsrapportering</h1>
  <!-- Makes Angular handle submitted form -->
  <!-- # Creates a local reference to the HTML of the form -->
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <label for="username">Användarnamn</label>
    <input 
    type="text" 
    class="input" 
    id="username" 
    name="username" 
    ngModel 
    required
    #nameCtrl="ngModel"
    [(ngModel)]="username"
    >
    <span class="danger" *ngIf="nameCtrl.invalid && nameCtrl.touched">Var god och skriv in ditt användarnamn</span>
    <label for="password">Lösenord</label>
    <input 
    type="password" 
    class="input" 
    id="password" 
    name="password" 
    ngModel 
    required
    #passCtrl="ngModel"
    [(ngModel)]="password"
    >
    <span class="message-danger" *ngIf="passCtrl.invalid && passCtrl.touched">Var god och skriv in ditt lösenord</span>

    <button type="submit" class="btn-primary" [disabled]="form.invalid">Logga in</button>
  </form>
</div>