<div *ngIf="showShiftToCreate">
  <div>Uppgift: {{shiftToAdd.taskName}}
    <a *ngIf="currentEmployee.startpage == 'tasks'" routerLink="/user/shift/subtasks" (click)="onUpdate()">Ändra uppgift</a>
    <a *ngIf="currentEmployee.startpage == 'assignments'" routerLink="/user/shift/assignments" (click)="onUpdate()">Ändra uppgift</a>
  </div>
  <div>Starttid: {{shiftToAdd.startTime | date:'d MMMM, y, HH:mm'}}</div>
  <div>Sluttid: {{shiftToAdd.endTime | date:'d MMMM, y, HH:mm'}}</div>
  <a *ngIf="currentEmployee.startpage == 'tasks'" routerLink="/user/shift/subtasks/{{taskId}}/datetime">Ändra tid & datum</a>
  <a *ngIf="currentEmployee.startpage == 'assignments'" routerLink="/user/shift/assignments/{{taskId}}/datetime">Ändra tid & datum</a>
  
  <button (click)="onSubmitShift()">Lägg till arbetspass</button>
</div>

<div *ngIf="showShiftsByMonth">
  <form (ngSubmit)="onDateSubmit(form)" #form="ngForm">
    <select name="byYear" id="byYear" [ngModel]="currentYear" required>
      <option *ngFor="let year of optionYears" [ngValue]="year">{{year}}</option>
    </select>
    <select name="byMonth" id="byMonth" [ngModel]="currentMonth" required>
        <option *ngFor="let month of optionMonths" [ngValue]="month.value">{{month.label}}</option>
    </select>
    <button type="submit">Hämta timmar</button>
  </form>

  <div *ngFor="let shift of shifts">
      <h3>{{ shift.taskName }}</h3>
      <span>{{shift.startTime}}</span>
      <span>{{shift.endTime}}</span>
  </div> 

  <span *ngIf="shifts && shifts.length == 0">Inga skift att hämta för denna månad</span>

</div>
