<app-info-box heading="Välj arbetsuppgift" subtext="Välj en arbetsuppgift för att sedan lägga till timmar"></app-info-box>
<div class="row" *ngIf="tasks">
  <div class="col" *ngFor="let task of tasks">
    <h3 class="text-center task-heading">{{ task.name }}</h3>
    <div class="btn-app btn-app-small mb-2"*ngFor="let subtask of task['subtasks']">
      <a *ngIf="!backToOverview" routerLink="{{subtask.id}}/datetime" #a (click)="addTask(a)">{{subtask.name}}</a>
      <a *ngIf="backToOverview" routerLink="/user/shift/overview/new" #a (click)="addTask(a)">{{subtask.name}}</a>
    </div>
  </div>
</div>
