<app-info-box heading="Välj arbetsuppgift" subtext="Välj en arbetsuppgift för att sedan lägga till timmar"></app-info-box>
<!-- Only show elements when tasks has been fetched from server -->
<div class="row" *ngIf="tasks">
  <!-- Creates an element for every task -->
  <div class="col-md-3" *ngFor="let task of tasks">
    <h3 class="text-center task-heading">{{ task.name }}</h3>
    <!-- Creates an element for every subtask -->
    <div class="btn-app btn-app-small mb-2"*ngFor="let subtask of task['subtasks']">
      <!-- Different routes depending if shift is being updated or not -->
      <a *ngIf="!backToOverview" [attr.id]="subtask.id" routerLink="{{subtask.id}}/datetime" #a (click)="addTask(a)">{{subtask.name}}</a>
      <a *ngIf="backToOverview" [attr.id]="subtask.id" routerLink="/user/shift/overview/new" #a (click)="addTask(a)">{{subtask.name}}</a>
    </div>
  </div>
</div>
