@mixin btn($bgColor, $textColor){

    background-color: $bgColor;
    // Border darker than background color
    border: 1px solid darken($bgColor, 5);
    color:  $textColor;

    &:focus, 
    &:hover{
        // Make background and border darker on hover
        background-color: darken($bgColor, 5);
        border: 1px solid darken($bgColor, 10);
    }

    a{
        color:  $textColor;
    }
}

@mixin messageBox($color){

    // Lighten background color from base color
    background-color: lighten($color, 55);
    color: $color;
    border: 1px solid $color;

}