// Sass variables for application

$brandColor: #84BE34;
$dangerColor: #bc0b0b;
$warningColor: #bd2a2a;
$successColor: #057a05;
$tablegrey: #eeeeee;
$lightgrey: #dddddd;
$darkgrey: #cecece;
$linkColor: #68A219;